*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #282c34;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

header{
    display: flex;
    height: 100px;
    padding-left: 13px;
    background-color: rgba(8, 8, 8, 0.5);
}

.marvel{
    font-size: 80px;
    color: red;
}

.dc{
    font-size: 80px;
    color: #0078f0;
}


.logo img{
    height: 100%;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-item{
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    border: solid 1px rgb(255,255,255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    box-shadow: 5px 5px 10px 2px;
}

.grid-item:hover{ 
    filter: opacy(0.9);
    transform: scale(1.04);
}


.foto{
    height: 100%;
    width: 100%;
}

.foto img{
    background-size: cover;
    height: 500px;
    width: 100%;
}

.detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 35, 71);
}

.boton-ver{
    padding: 8px;
    border: 3px;
    border-radius: 8px;
    background-color: rgb(54, 59, 99);
    transition: transform 0.2s ease-in-out;
}

.boton-ver:hover{
    filter: opacy(0.9);
    transform: scale(1.14);
}

.titulo{
    text-transform: uppercase;
    font-size: 30px;
    color: aliceblue;
}

.text-boton{
    font-size: 30px;
}

@media(min-width: 600px){
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }
}
