*{
    box-sizing: border-box;
    margin: 0;
}

body{ 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.body1{
    background-image: linear-gradient(to bottom, #000000, #ff0000);
}

.body2{
    background-image: linear-gradient(to bottom, #000000, #0078f0);
}
/* Encabezado -------------------------------------------------------------------------------- */
header{
    display: flex;
    height: 100px;
    padding-left: 13px;
    background-color: rgba(8, 8, 8, 0.5);
}

.marvel{
    font-size: 80px;
    color: #ff0000;
}

.dc{
    font-size: 80px;
    color: #0078f0;
}


/* Galeria -------------------------------------------------------------------------------- */

.logo img{
    height: 100%;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-item{
    display: grid;
    grid-template-rows: 80% 20%;
    transition: transform 0.2s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    box-shadow: 5px 5px 10px 2px;
}

/* .grid-item:hover{ 
    filter: opacy(0.9);
    transform: scale(1.04);
} */

.foto img{
    background-size: cover;
    height: 500px;
    width: 100%;
}

.detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 35, 71);
}

.boton-ver{
    padding: 8px;
    border: 3px;
    border-radius: 8px;
    background-color: rgb(54, 59, 99);
    transition: transform 0.2s ease-in-out;
}

.boton-ver:hover{
    filter: opacy(0.9);
    transform: scale(1.14);
}

.titulo{
    text-transform: uppercase;
    font-size: 30px;
    color: aliceblue;
}

.text-boton{
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

/* @media(min-width: 600px){
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }
} */

/* Modal -------------------------------------------------------------------------------- */

.ventana{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #280000;
    margin: 10%;
    margin-left: 20%;
    width: 900px;
    height: 550px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border-radius: 13px;
}

.modal{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    margin-top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.1s;
    visibility: hidden;
}


.modal:target{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: all 0.1s;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.foto-det img{
    margin-top: 0;
    margin-left: 0;
    padding:5px;
    background-size: cover;
    height: 55%;
    width: 100%;
}

.titulo-det{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}
.cont-det{
    padding: 35px;
    display: grid;
    grid-template-rows: 5% 5% 5% 40% 10%;
    gap: 30px;
    text-transform: uppercase;
}

